	<div class="row row-height">
		<div class="col-md-12 col-height">
				<div class="table-layer-class">
					<div class="row row-height">
						<div class="col-height col-md-11">
<label for="labelvalue" id="labelvalue_label" class="control-label"><%=label.get('labelvalue_label','Value')%></label>
<input type="text" id="labelvalue" name="labelvalue" class="form-control input-md" value="<%=data.dataset?.labelvalue%>" maxlength="200" />
						</div>
					</div>
				</div>
		</div>
	</div>
