<input type="hidden" id="keyid" name="keyid" value="<%=data.dataset?.keyid%>" />
		<div class="row row-height">
			<div class="col-md-12 col-height">
					<div class="table-layer-class">
						<div class="row row-height">
							<div class="col-height col-md-8">
<label for="keyname" id="keyname_label" class="control-label"><%=label.get('keyname_label','Name')%></label><div class="input-group"><input type="text" id="keyname" name="keyname" class="form-control input-md irequired ikeyclass alert-input" maxlength="100" value="<%=data.dataset?.keyname%>" /><div class="input-group-required"><label class="required">*</label></div></div><div id="keyname_alert" role="alert" class="has-feedback has-error fa-hidden"><%=label.get('keyname_alert','You can not leave this empty')%></div>
							</div>
						</div>
					</div>
			</div>
		</div>
