/*#(10000) programmer code begin;*/
#searchbutton { margin-top: 10px; margin-left: 5px; }
#insertbutton { margin-top: 10px; margin-right: 5px; }
#searchbuttonnum { margin-top: 10px; margin-left: 5px; }
#insertbuttonnum { margin-top: 10px; margin-right: 5px; }
label.control-label { white-space: nowrap; }
#entrylayerpolicy { margin-left: 10px; margin-top: 0px; }
#fscontroltablayerpolicy { margin-left: 10px; margin-right: 15px; padding-right: 3px; }
#searchpanel { margin-top: 0px; }
#searchpanelnum { margin-top: 0px; }
#insertbuttonnum {
	margin-top: 10px;
	margin-right: 5px;
}
#searchbuttonnum {
	margin-top: 10px;
	margin-right: 30px;
}
.nav-tabbar-policy { width:100%; }
#fs_controlbuttonfooterlayerpolicy { margin-right: 10px; margin-bottom:5px; }
/*#(10000) programmer code end;*/
