			<div id="searchpanel" class="panel-body fa-hidden">
				<form id="fssearchform" name="fssearchform" method="post">
					<input type="hidden" name="ajax" value="true"/>
					<input type="hidden" name="rowsPerPage" value="<%=page.setting?.rowsPerPage%>"/>
					<input type="hidden" name="limit" value="<%=page.setting?.limit%>"/>
					<input type="hidden" name="page" value="1"/>
					<input type="hidden" name="orderBy" value=""/>
					<input type="hidden" name="orderDir" value=""/>
					<%- include('./sfte010_filter') %>		
				</form>
				<div id="listpanel" class="table-responsive fa-list-panel">
					<%- include('./sfte010_data') %>		
				</div>
			</div>
