	<div class="row row-height">
		<div class="col-md-12 col-height">
				<div class="table-layer-class">
					<div class="row row-height">
						<div class="col-height col-md-5">
<label for="reservepwd" id="reservepwd_label" class="control-label"><%=label.get('reservepwd_label','Reserve Word')%></label>
<div class="input-group"><input type="text" id="reservepwd" name="reservepwd" class="form-control input-md irequired ikeyclass alert-input" maxlength="50" value="<%=data.dataset?.reservepwd%>" /><span></span><div class="input-group-required"><label class="required">*</label></div></div><div id="reservepwd_alert" role="alert" class="has-feedback has-error fa-hidden"><%=label.get('reservepwd_alert','You can not leave this empty')%></div>
						</div>
					</div>
				</div>
		</div>
	</div>
