<% let fs_express_readonly = page.isRetrieveMode()?" readonly ":""; %>
		<div class="row row-height">
			<div class="col-md-12 col-height">
					<div class="table-layer-class">
						<div class="row row-height">
							<div class="col-height col-md-5">
<label for="programid" id="programid_label" class="control-label"><%=label.get('programid_label','Program ID')%></label>
<div class="input-group"><input type="text" id="programid" name="programid" class="form-control input-md irequired ikeyclass alert-input" maxlength="15" value="<%=data.dataset?.programid%>" <%=fs_express_readonly%> /><span></span><div class="input-group-required"><label class="required">*</label></div></div><div id="programid_alert" role="alert" class="has-feedback has-error fa-hidden"><%=label.get('programid_alert','You can not leave this empty')%></div>
							</div>
						</div>
					</div>
			</div>
		</div>
