<div id="page_forgot_success" class="entry-layer page-layer fa-hidden">
	<br/>
	<div class="row portal-area sub-entry-layer">
		<table width="100%">
			<tbody>
				<tr class="rclass">
					<td height="50">&nbsp;</td>
				</tr>
				<tr class="rclass">
					<td align="center" height="30"><label class="lclass" id="resetpwd_label" required="false"><%=label.get('resetpwd_label','Reset password success')%></label></td>
				</tr>
				<tr>
					<td align="center" height="30"><label class="lclass" id="resetmsg_label" required="false"><%=label.get('resetmsg_label','Please verify your email for new password changed')%></label></td>
				</tr>
				<tr>
					<td align="center" height="30"><a href="javascript:void(0)" id="loginlink"><%=label.get('resetlogin_label','Log In')%></a></td>
				</tr>
			</tbody>
		</table>
	</div>	
</div>		
