	<div class="row row-height">
		<div class="col-md-12 col-height">
				<div class="table-layer-class">
					<div class="row row-height">
						<div class="col-height col-md-8">
<label for="subjecttitle" id="subjecttitle_label" class="control-label"><%=label.get('subjecttitle_label','Title')%></label><input type="text" id="subjecttitle" name="subjecttitle" class="form-control input-md" maxlength="100" value="<%=data.dataset?.subjecttitle%>" /><span></span>
						</div>
					</div>
				</div>
		</div>
	</div>
	<div class="row row-height">
		<div class="col-md-12 col-height">
				<div class="table-layer-class">
					<div class="row row-height">
						<div class="col-height col-md-12">
<label for="contents" id="contents_label" class="control-label"><%=label.get('contents_label','Message')%></label><textarea id="contents" name="contents" class="form-control input-md" rows="20" cols="50"><%=data.dataset.contents%></textarea>
						</div>
					</div>
				</div>
		</div>
	</div>
