/*#(10000) programmer code begin;*/
#searchbutton { margin-top: 10px; margin-left: 5px; }
#resetbutton { margin-top:5px; margin-right: 5px; }
#listpanelhistory { padding-top: 0px; }
#buttoncontrollayer { padding-left: 0px; padding-right: 10px; }
/*#(10000) programmer code end;*/
