<!DOCTYPE html>
<html>
	<head>
		<title>Verification</title>
		<%- include('../asset/meta') %>
		<%- include('../asset/styleserror') %>		
		<style nonce="YXNzdXJl">
			a.back-link { font-size: 1.5rem; text-decoration: none; } 
			.portal-body { margin:0px; font-size:1rem; font-weight:400;line-height:1.5; }
			.pt-page-header { margin-top:0px; margin-bottom:0.5rem; }
		</style>
		<script nonce="YXNzdXJl">
			function doGoBack() {
				window.history.back();
			}
			window.onload = function() {
				gobacklinker.onclick = doGoBack;
			}
		</script>
	</head>
	<body class="portal-body portalbody-off">
		<div id="ptsearchpager" class="pt-page pt-page-current pt-page-controller">
			<div class="header-layer">
				<h1 class="pt-page-header page-header-title">
					<label>Verification</label>
				</h1>
			</div>
			<div id="searchpanel" class="panel-body">
				<div id="messagepanellayer" class="message-panel-class">
					Sorry, Information not found.
				</div>
				<br/>
				<div id="gobacklayer" class="goback-class">
					<a href="#" id="gobacklinker" class="back-link">Go Back</a>
				</div>
			</div>
		</div>
	</body>
</html>
