<div id="fsmodaldialog_layer" class="modal fade pt-page pt-page-item" tabindex="-1" role="dialog">
	<div class="modal-dialog modal-xm">
		<div class="modal-content portal-area  fa-portal-area">
			<div class="modal-header">
				<h4 class="modal-title" id="modalheadertitle">
					Verification
				</h4>
				<button type="button" class="close" data-dismiss="modal">&times;</button>
			</div>
			<br/><br/>	
			<div class="text-center">
				<h4>Scan QR Code add to Google Authenticator</h4>
			</div>
			<br/><br/>	
			<div class="qr-image-layer">
				<img id="qrimg" src="<%=data.dataset?.factorimage%>"/>
			</div>
		</div>
	</div>
</div>
