#menubarlayer { border : 2px solid #2F4F4F; overflow: auto; min-height: 500px; padding: 5px; }
a.selected-linker span { text-decoration: underline; }
/*#item_dialog_layer { z-Index:1002 }*/
div.first-row-layer { padding-top:10px; padding-bottom:0px; }
#permitfieldset { height:30px; margin-left: 20px; margin-right: 20px; }
button.ctrl-linker { width:40px; }
#propertyfieldset { height:40px; }
#permissionfieldset { height:30px; }
#buttoncontrollayer { padding-top: 15px; padding-right:0px; }
#explorebutton { margin-top: 5px; }
.autocomplete-fixed-height { max-height: 350px; margin-bottom: 10px; overflow-x: auto; overflow-y: auto; }
